



body{
    display: flex;
    justify-content: center;
}

.first {
  width: 60%;
  min-height: 90%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.second{
    width: 97%;
    min-height: 80%;
    background-color: rgb(63, 56, 56);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding-bottom: 50px;
    
}

.MyToDoList{
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.inputArea{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 15px;
    position: relative;
}

.inputArea > input{
    border-radius: 10px;
    width: 530px;
    height: 50px;
}

.inputArea > button {
    background-color: rgb(8, 48, 29);
    cursor: pointer;
    border-radius: 10px;
    width: 75px;
    height: 40px;
    color: white;
}

.inputArea > button:hover{
    transform: scale(1.1);
}


.toDo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    color: black;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1px;
    
}

.toDo > button{
    background-color: rgb(8, 48, 29);
    cursor: pointer;
    border-radius: 10px;
    width: 75px;
    height: 30px;
    color: white;
}

.drop{
    width: 100px;
    background-color: rgb(8, 48, 29);
    color: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.drop1 {
    width: 120px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    display: none;
    z-index: 99;
    padding-right: 15px;
    position: absolute;
    right: 330px;
    top: 220px
    
}
#test{
    list-style: none;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: column;
}
 
